<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBUUBG3637YeDR1_KMsKUlnjv6hp8x3Tgg</string>
	<key>GCM_SENDER_ID</key>
	<string>384156104201</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.drakkarsoftware.octochat</string>
	<key>PROJECT_ID</key>
	<string>octochat-45a92</string>
	<key>STORAGE_BUCKET</key>
	<string>octochat-45a92.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:384156104201:ios:0eb6917746a0dd3b8d2ad8</string>
</dict>
</plist>